table {
    width: 100%;
    border-collapse: collapse;
    /*margin-top: 10px;*/
}

h1, label, p, pre, strong,ul, li, code {
    color: white;
}

th, td {
    border: 1px solid #ccc;
    /*padding: 8px;*/
    text-align: left;
    vertical-align: top;
}

th {
    /*background-color: #858585;*/
    color: white;
}

pre {
    font-family: "Courier New";
    margin: 0;
    padding: 0;
}

#resultsContainer {
    font-family: "Courier New";
}

.courier {
    font-family: "Courier New";

}

button {
  background: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  padding: 0.5em 1em;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background: var(--vscode-button-hoverBackground);
}
