* {
    font-family: "Courier New";
}

h1 {
    color: white;
}

button {
    font-weight: bold; /* Hacer el texto del botón en negrita */
}

input {
    font-weight: bold; /* Hacer el texto de los inputs en negrita */
}

select {
    font-weight: bold; /* Hacer el texto de los selects en negrita */
}

.row {
    display: flex;
    align-items: center;
    gap: 10px;
}